<div class="card-wrapper">
  <div class="cards-wrapper">
    <div class="card-front">
      <img src="../../assets/images/bg-card-front.png" alt="" />
      <div class="card-front-wrapper">
        <img id="card-logo" src="../../assets/images/card-logo.svg" />
        <p id="card-number">{{ number | mask: "0000 0000 0000 0000" }}</p>
        <div class="name-date">
          <p id="name">{{ holder }}</p>
          <p id="date">
            <span id="mm">{{ mm }}</span
            >/<span id="yy">{{ yy }}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="card-back">
      <img src="../../assets/images/bg-card-back.png" />
      <p id="cvc">{{ cvc }}</p>
    </div>
  </div>
</div>
