form {
  margin-top: 100px;
}

.container {
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: left;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 20px;
}

.input-grid {
  width: 100%;
  gap: 10px;
  display: grid;
  grid-template-columns: 70px 70px 1fr;
  grid-template-areas: "mm yy cvc cvc";
}

#month {
  grid-area: mm;
}

#year {
  grid-area: yy;
}

#cvc {
  grid-area: cvc;
}

label {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(150, 150, 150, 0.5);
}

button {
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0b0730;
  background-color: #1e0730;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #360d56;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
